body{
    color: tomato;
    font-family:"Helvetica";
}

html, body {
    fontsize: 20px;
    height: 100-%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1,h2{
    font-size: 50px;
}
