/* Font color and font family */
body{
    color: tomato;
    font-family:"Helvetica";
}

/* Esto centra la pagina */
html, body {
    font-size: 20px;
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1,h2{
    font-size: 50px;
}
